{% extends "mybook_page.html" %}

<!-- HEADING -->
{% block title %} {{ title }} {% endblock %}

<!-- BANNER -->
{% block branding %}
    <div>
      {{ debug }}
      <h1 id="site-name">
        My Book Online
        <a href='/'>{{ site }}</a>
      </h1>
      <p style='color:yellow;margin-left:50px;margin-bottom:0'>
        {{ subtitle }}
      </p>
    </div>

{% endblock %}

<!-- BODY -->
{% block content %}
    <!--
      -->
    <div>
        {% autoescape off %}  
        <h1>{{ headline }}</h1> 
        {% for line in text %} 
              {{ line }} 
        {% endfor %}
        <p>{{ navlinks }}</p>
        {% endautoescape %}
    </div>

    {% if show_unsubscribe %}
    <div style='background-color:#ddd'>
      <p><strong>Unsubscribe to Seaman's Log.</strong></p>
      <br/>
      <form action="/unsubscribe" method="post">
        <div>
          <div>Eliminate future email updates</div>
          <p>{{ form.email  }}
            <input type="submit" value="Remove me" /></p>
        </div>
      </form>
    </div>
    {% endif %}

{% endblock %}

<!-- FOOTER -->
{% block footer %}
<h1>New hammer code</h1>
    <center>
      <div id="footer">        
        <a href='http://shrinking-world.org'>
          <img src="/media/mybook/images/{{ logo }}" />
          <div>Sponsored by Shrinking World Solutions</div>
        </a>
      </div>
    </center>
{% endblock %}
