{% extends "mybook_page.html" %}

{% block title %}Subscribed to Seaman's Log{% endblock %}
{% block branding %}
    <!-- -->
    {{ debug }}
    <h1 id="site-name">
       <a href='/'>{{ site }}</a>
    </h1>
    <p style='color:yellow;margin-left:50px'>
       {{ subtitle }}
    </p>
{% endblock %}

{% block content %}
<blockquote>
  <div style='background-color:#ddd'>
      <br/>
      <p><strong>You are now subscribed to Seaman's Log.</strong></p>
      <p>Updates are published about once a week.</p>
      <p>Unsubscribe at any time.</p>
      <p>Look forward to getting fresh tips for how to thrive in the modern
        world.</p>
      <hr/>
  </div>
</blockquote>
{% endblock %}
