*.csv
*.dat
*.diff
*.gz
*.log
*.orig
*.out
*.like
*.pid
*.pyc
*.seed
*~
.bash_history
.bash_logout
.bash_profile
.bashrc-old
.bashrc-user
.emacs
.emacs-old
.lesshst
.mysql_history
.ssh/
.viminfo
.zshrc
app
Desktop/
Documents/
Git
app.log
hammer.db
junk/
lib
lib-cov
local_settings.py
logs
node_modules
npm-debug.log
pids
results
send-test
user_doc
webapps/mybook/apache2
webapps/mybook/lib
webapps/mybook/myproject
webapps/mybook_media
