*.csv
*.dat
*.diff
*.gz
*.log
*.out
*.pid
*.pyc
*.seed
*.orig
*~
.bash_history
Git
app.log
bin/.ph
bin/.ph
doc/User/*/SimpleApps
hammer.db
lib
lib-cov
local_settings.py
logs
node_modules
npm-debug.log
pids
results
webapps/mybook/apache2
webapps/mybook/lib
webapps/mybook/myproject
webapps/mybook/app/user_doc
.bash_logout
.bash_profile
.bashrc-old
.bashrc-user
.emacs
.emacs-old
.lesshst
.mysql_history
.ssh/
.zshrc
Desktop/
Documents/
junk/
send-test
